<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-8/12 mx-auto my-8">

        <div class="my-8 flex justify-end">
            <a href="/cart" class="text-blue-500">Go to cart</a>
        </div>

        <div class="grid grid-cols-3 gap-2">
            {products}
        </div>

    </div>
</body>

</html>