<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Blogs</title>

    <style>
        body {
            max-width: 88vw;
            margin: 2rem auto;
        }
    </style>
</head>

<body>
    ID:
    <div>
        <%= blog.id %>
    </div>
    Title:
    <div>
        <%= blog.title %>
    </div>
    Content:
    <div>
        <%= blog.content %>
    </div>
</body>


</html>