<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khai báo y tế</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
        }

        thead {
            background-color: lightgray;
        }

        tr,
        th,
        td {
            padding: 4pt 10pt;
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <div class="w-10/12 mx-auto my-16">
        <h1 class="text-4xl text-center my-8 font-bold">Khai báo y tế</h1>
        <form action="/declare" method="post">
            <div class="flex">
                <div class="form-group block w-full">
                    <label>Họ tên (ghi chữ IN HOA) <span class="text-red-500">(*)</span></label>
                    <input type="text" name="fullName" class="border w-full rounded-md px-1 py-2" />
                </div>
                <div class="form-group block ml-4 w-full">
                    <label>Số hộ chiếu / CMND / CCCD</label>
                    <input type="text" name="idCard" class="border w-full rounded-md px-1 py-2" />
                </div>
            </div>
            <div class="flex my-2">
                <div class="w-1/3 form-group block">
                    <label>Năm sinh <span class="text-red-500">(*)</span></label>
                    <input type="number" name="yearOfBirth" class="border w-full rounded-md px-1 py-2" />
                </div>
                <div class="w-1/3 form-group block ml-4">
                    <label>Giới tính <span class="text-red-500">(*)</span></label>
                    <div class="flex items-center my-2">
                        <input type="radio" name="gender" value="Nam" /><span class="ml-1">Nam</span>
                        <input type="radio" name="gender" value="Nữ" class="ml-4" /><span class="ml-1">Nữ</span>
                        <input type="radio" name="gender" value="Khác" class="ml-4" /><span class="ml-1">Khác</span>
                    </div>
                </div>
                <div class="w-1/3 form-group block ml-4">
                    <label>Quốc tịch <span class="text-red-500">(*)</span></label>
                    <select class="border w-full rounded-md py-2 px-1" name="country">
                        <option value="Việt Nam">
                            Việt Nam
                        </option>
                        <option value="USA">
                            USA
                        </option>
                    </select>
                </div>
            </div>
            <div class="flex font-bold">
                Địa chỉ liên lạc tại Việt Nam
            </div>
            <div class="flex my-2">
                <div class="w-1/3 form-group block">
                    <label>Tỉnh thành <span class="text-red-500">(*)</span></label>
                    <select class="border w-full rounded-md py-2 px-1" name="city">
                        <option value="Thành phố Hà Nội">
                            Thành phố Hà Nội
                        </option>
                        <option value="Thành phố Hồ Chí Minh">
                            Thành phố Hồ Chí Minh
                        </option>
                    </select>
                </div>
                <div class="w-1/3 form-group block ml-4">
                    <label>Quận / huyện <span class="text-red-500">(*)</span></label>
                    <select class="border w-full rounded-md py-2 px-1" name="district">
                        <option value="Hà Đông">
                            Hà Đông
                        </option>
                        <option value="Quận 1">
                            Quận 1
                        </option>
                    </select>
                </div>
                <div class="w-1/3 form-group block ml-4">
                    <label>Phường / xã <span class="text-red-500">(*)</span></label>
                    <select class="border w-full rounded-md py-2 px-1" name="ward">
                        <option value="Đồng Mai">
                            Đồng Mai
                        </option>
                        <option value="Phường 3">
                            Phường 3
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group block my-2">
                <label>Số nhà, phố, tổ dân phố/thôn/đội <span class="text-red-500">(*)</span></label>
                <input type="text" name="address" class="border w-full rounded-md px-1 py-2"
                    placeholder="số 15 ngõ 30 đường Cồ Bản" />
            </div>
            <div class="flex font-bold mt-4">
                Trong vòng 14 ngày qua, Anh/Chị có đến tỉnh/thành phố, quốc gia/vùng lânh thổ nào (Có thể đi qua nhiều
                nơi)
                <div class="ml-2 font-normal">
                    <input type="radio" name="visitedAnotherCities" value="Không" /><span class="ml-1">Không</span>
                    <input type="radio" name="visitedAnotherCities" value="Có" class="ml-4" /><span class="ml-1">Có</span>
                </div>
            </div>
            <div class="block font-bold mt-4">
                Trong vòng 14 ngày qua, Anh/Chị có xuất hiện ít nhất 1 trong các dấu hiệu: sốt, ho, khó thở, viêm phổi,
                đau họng, mệt mỏi không?
                <div class="ml-2 mt-4 font-normal">
                    <input type="radio" name="contactWithDoubtPeople" value="Không" /><span class="ml-1">Không</span>
                    <input type="radio" name="contactWithDoubtPeople" value="Có" class="ml-4" /><span class="ml-1">Có</span>
                </div>
            </div>
            <div class="mt-4">
                <p class="font-bold">Trong vòng 14 ngày qua, Anh/Chị có tiếp xúc với <span
                        class="text-red-500">(*)</span></p>
                <div class="mt-4">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Có</th>
                                <th>Không</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Người bệnh hoặc nghi ngờ, mắc bệnh COVID-19 <span class="text-red-500">(*)</span>
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="doubtPeopleCovid19" value="Có" />
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="doubtPeopleCovid19" value="Không" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Người từ nước có bệnh COVID-19 <span class="text-red-500">(*)</span>
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="peopleFromCountriesWithCovid19" value="Có" />
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="peopleFromCountriesWithCovid19" value="Không" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Người có biểu hiện (Số, ho, khó thở, Viêm phổi) <span
                                        class="text-red-500">(*)</span>
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="peopleWithSymptoms" value="Có" />
                                </td>
                                <td class="text-center">
                                    <input type="radio" name="peopleWithSymptoms" value="Không" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="submit" class="mx-auto border py-2 px-4 my-8 rounded-lg"/>
        </form>
    </div>
</body>

</html>