<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            max-width: 48vw;
            margin: 5rem auto;
        }

        input,
        textarea {
            width: 100%;
        }

        textarea {
            min-height: 220px;
        }
    </style>
</head>

<body>
    <h1>Create blog</h1>
    <form action="/blog" method="post">
        <label for="title">Title:</label>
        <input name="title" type="text" id="title" />
        <br />
        <br />
        <label for="content">Content:</label>
        <textarea name="content" type="text" id="content"></textarea>
        <br />
        <br />
        <button type="submit">Save</button>
    </form>
</body>

</html>