<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            max-width: 48vw;
            margin: 5rem auto;
        }

        input,
        textarea {
            width: 100%;
        }

        textarea {
            min-height: 220px;
        }
    </style>
</head>

<body>
    <h1>Update employee</h1>
    <form action="/employee/update" method="post">
        <input name="id" type="hidden" value="<%= employee.id %>" />
        <label for="name">Name:</label>
        <input name="name" type="text" id="name" value="<%= employee.name %>" />
        <br />
        <br />
        <label for="department">Department:</label>
        <textarea name="department" type="text" id="department"><%= employee.department %></textarea>
        <br />
        <br />
        <button type="submit">Save</button>
    </form>
</body>

</html>